@import url("http://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800");

// Override default variables before the import
$primary: #2b1456;
$secondary: #ff2b98;

$body-color: white; //this is the text color
$body-bg: $primary;

$dark: #170539;
$light: #af93f2;

$input-border-color: #d0d0d0;

$font-family-base: "Poppins", sans-serif !important;

$theme-colors: (
  "light-gray": #f2f2f2,
);

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap-icons/font/bootstrap-icons.css";

body {
  background-image: url("./imgs/background.png");
  background-position: top;
  background-repeat: no-repeat;
}
.page {
  margin-top: 2 * $spacer;
  margin-bottom: 2 * $spacer;
}

.user-pic {
  height: 40px;
  width: 40px;
}

.user-img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
}

.item-img {
  height: 150px;
  object-fit: cover;
}

.crop-text-3 {
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.user-info {
  min-width: 800px;
}

.search-title {
  min-width: 300px;
  margin: 10px;
  border: 1px solid #555;
  padding: 9px 4px 9px 40px;
  background: white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px;
}
